nav {
    padding: 2rem 0 !important;
}

input:focus {
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-bottom: 2px solid black;
    outline: none;
}

input[type='checkbox'] {
    border-radius: 0;
}

.card {
    height: 300px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.btn {
    border-radius: 0;
}

.form-group {
    position: relative;
}

.form-control-placeholder {
    position: absolute;
    top: 45px;
    padding: 7px 0 0 13px;
    transition: all 200ms;
    opacity: 0.5;
}

.form-control-placeholder-textarea {
    position: absolute;
    top: 90px;
    padding: 7px 0 0 13px;
    transition: all 200ms;
    opacity: 0.5;
}

.form-control:focus + .form-control-placeholder,
.form-control:valid + .form-control-placeholder {
    font-size: 75%;
    transform: translate3d(0, -100%, 0);
    opacity: 1;
}

.form-control:focus + .form-control-placeholder-textarea,
.form-control:valid + .form-control-placeholder-textarea {
    font-size: 75%;
    transform: translate3d(0, -200%, 0);
    opacity: 1;
}

.form-control:focus {
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-bottom: 2px solid black;
    outline: none!important;
    box-shadow: none!important;
}

.badge {
    margin-top: 12px;
}

.inputs {
    padding-top: 4rem;
    padding-bottom: 1rem;
    margin: 0 auto;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid black;
    border-radius: 0;
}

#hero {
    margin: 0;
    padding: 0;
    height: 90vh;
    position: relative;
}

#hero h1 {
    position: absolute;
    top: 40%;
}

#search {
    width: 80%;
    padding-top: 4rem;
    padding-bottom: 2rem;
    margin: 0 auto;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid black;
    border-radius: 0;
    font-size: 3rem;
}

#created-by {
    display: inline;
    float: right;
    margin-top: 7px;
}